.testScopeResult {
    margin: 8px 0;
    font-size: 1.2em;
    font-weight: bold;
}
.testSingleResult {
    margin-left: 16px;
}

span.passedTest {
    color: green;
}

span.failedTest {
    color: red;
}